.not-found-page{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 500px;
    padding: 24px;
    text-align: center;
}

.not-found-image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 24px;
}

.not-found-heading {
  font-size: 24px;
  margin-bottom: 12px;
  color: white;
  font-weight: 500;
}

.not-found-description {
  font-size: 16px;
  color: #64748b;
}
@media screen and (min-width:768px){
  .not-found-heading{
    font-size: 32px;
  }
  .not-found-description{
    font-size: 18px;
  }
}
@media  screen and (min-width:992px) {
    .not-found-heading{
    font-size: 38px;
  }
  .not-found-description{
    font-size: 24px;
  }
}