.job-page-container{
    background-color:#121212;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 100vh;
}

.job-page{
    width: 90%;
    max-width: 420px;
    flex-grow:1;
    align-self:center;
}

.side-bar{
    max-width: 350px;
    width: 30%;
    flex-shrink:0;
}