.navbar{
    padding: 10px 20px;
    background-color: #272727;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.website-logo{
    height: 40px;
    width: 100px;
}

.job-link{
    text-decoration: none;
    color: inherit;
}

.nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.logout-button{
    display: none;
}


.home-icon-sm{
    display: block;
    color: #ffffff;
    height: 25px;
    width: 25px;
}
.job-icon-sm{
    display: block;
    color: #ffffff;
    height: 25px;
    width: 25px;
}
.logout-button-sm{
    display: block;
    cursor: pointer;
    background-color:#272727;
    border: 0;
    margin-right: 5px;
}
.logout-icon-sm{
    color: #ffffff;
    height: 25px;
    width: 25px;
  
}
.nav-item{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.home-text-lg{
    display: none;
}
.jobs-text-lg{
    display: none;
}

@media screen and (min-width:768px) {
    .logout-button{
        padding: 8px 16px;
        background-color: #4f46e5;
        color: #ffffff;
        border: none;
        display: block;
        border-radius: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
    }
    .home-text-lg{
        display: block;
        color: inherit;
    }
    .jobs-text-lg{
        display: block;
    }
    .website-logo{
        height: 50px;
        width: 150px;
    }
    .logout-button-sm{
        display: none;
    }
    .home-icon-sm{
        display: none;
    }
    .job-icon-sm{
        display: none;
    }

}
