.navbar{
    padding: 10px 20px;
    background-color: #272727;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.website-logo{
    height: 50px;
    width: 150px;
}

.nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-item{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.logout-button{
    padding: 8px 16px;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}