.profile-card{
    background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
    background-size: cover;
    padding: 20px;
    border-radius: 12px;
    height: 200px;
}

.profile-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #ffffff;
    font-size: 16px;
}